
<div class="wrap">

    <div class="clear"></div>
</div>

<div class="content">
    <div class="section group">
        <div class="col_1_of_3 span_1_of_3">
            <div class="grid-imgs">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic1.jpg" alt="" /></a>
            </div>
            <h2>Lorem Ipsum is simply dummy text </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="grid-imgs">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic2.jpg" alt="" /></a>
            </div>
            <h2>Lorem Ipsum is simply dummy text </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="grid-imgs">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic3.jpg" alt="" /></a>
            </div>
            <h2>Lorem Ipsum is simply dummy text </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
    </div>
    <div class="text-h">
        <h2>feature products</h2>
    </div>
    <div class="section group">
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic4.jpg" alt="" /></a>
            </div>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button class="left">$23.58</button>
            <div class="btn right"><a href="@Url.Action("details","Home")">view</a></div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic5.jpg" alt="" /></a>
            </div>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button class="left">$23.58</button>
            <div class="btn right"><a href="@Url.Action("details","Home")">view</a></div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic6.jpg" alt="" /></a>
            </div>
            <p>Sed do eiusmod tempor incididunt ut laboreet dolore.</p>
            <button class="left">$23.58</button>
            <div class="btn right"><a href="details.html">view</a></div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img">
                <a href="details.html"><img src="~/Content/NewFolder1/images/pic7.jpg" alt="" /></a>
            </div>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button class="left">$23.58</button>
            <div class="btn right"><a href="details.html">view</a></div>
        </div>

    </div>
</div>

