<div class="content">
    <div class="section group">
        <div class="cont span_2_of_3">
            <div class="single">
                <h2>About Us</h2>
                <h3>About Our&nbsp;<span><a href="">Lorem ipsum dolor sit amet</a></span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="btn top"><a href="details.html">Read</a></div>
            </div>
        </div>
        <div class="rsidebar span_1_of_3">
            <div class="sidebar">
                <h2>Cart</h2>
                <p class="left">No Products</p>
                <button class="right">-</button>
                <div class="clear"></div>
                <p class="left">Shipping</p>
                <button class="right">$32.58</button>
                <div class="clear"></div>
                <p class="left">Export</p>
                <button class="right">$45.23</button>
                <div class="clear"></div>
                <p class="left">Import</p>
                <button class="right">$23.58</button>
                <div class="clear"></div>
                <p class="left">Total</p>
                <button class="right">$100.420</button>
                <div class="clear"></div>
                <div class="btn top"><a href="details.html">Add to Cart</a></div>
            </div>
            <div class="clear"></div>
            <div class="sidebar">
                <h2>Categories</h2>
                <ul class="nav1">
                    <li><a href="">Lorem ipsum dolor sit amet,Lorem Ipsum is simply dummy</a></li>
                    <li><a href="">Aliquam tincidunt mauris eu risus,Lorem Ipsum is simply</a></li>
                    <li><a href="">Vestibulum auctor dapibus neque,Lorem Ipsum is simply</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet,,Lorem Ipsum is simply dummy</a></li>
                    <li><a href="">Aliquam tincidunt mauris eu risus,Lorem Ipsum is simply</a></li>
                    <li><a href="">Vestibulum auctor dapibus neque,Lorem Ipsum is simply</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="sidebar">
                <h2>Top Sellers</h2>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <img src="images/pic4.jpg" alt="" />
                    </div>
                    <div class="text list_2_of_1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore</p>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <img src="images/pic5.jpg" alt="" />
                    </div>
                    <div class="text list_2_of_1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore</p>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <img src="images/pic6.jpg" alt="" />
                    </div>
                    <div class="text list_2_of_1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

